/* Global */
html {
  font-family: 'Droid Serif', sans-serif !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 99vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

a {
  color: white;
}

h1 {
  font-size: 7.4vh !important;
}

h2 {
  font-size: 4.2vh !important;
}

h3 {
  font-size: 2.7vh !important;
}
h4 {
  font-size: 1.7vh !important;
}

::-webkit-scrollbar {
  width: 5px;
} 

::-webkit-scrollbar-track {
      background-color: rgba(0,0,0,.2);
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(255,255,255,.5); 
} /* this will style the thumb, ignoring the track */
 
.white-text-large {
  color: white;
  position: relative;
  top: 0px;
}

/*------------ Nav ---------------- */

nav {
  background-color: #040404 !important;
  z-index: 1 !important;
}

nav ul a {
  font-size: 19px !important;
  letter-spacing: 3px !important;
  text-transform: uppercase;
  padding-left: 20px !important;
  padding-right: 20px !important; 
  font-family: 'Oswald';
}

nav, .nav-wrapper {
  height: 64px !important;
}

a.dropdown-button > ul > li > i {
  margin: 0;
  padding: 0;
}

.brand-logo img{
  max-height: 55px;
  margin: 5px 20px;
}

.button-collapse {
  font-size:30px;
}

.button-collapse i {
  line-height: 65px !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #404040 !important;
  font-size: 20px;
  text-transform: lowercase !important;
}

.fa-bars {
  color: white !important;
}

.side-nav li>a {
  font-size: 18px !important;
  font-family: "Oswald";
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: none;
  -webkit-transition: border-bottom 500ms ease;
  transition: border-bottom 500ms ease;
}

.side-nav li>a:hover {
  letter-spacing: 2px;
  border-bottom: 2px solid black;
  -webkit-transition: border-bottom 500ms ease;
  transition: border-bottom 500ms ease;
}

.navbar-fixed {
  height: 64px !important;
}

.ul--nav__links {
  font-family: "Fjalla One";
}

#navlink1:hover {
  background: #404040;
}
#navlink2:hover {
  background: #404040;
}
#navlink3:hover {
  background: #404040;
}
#navlink4 {
  background: #FFBB06;
  box-shadow: 0px 5px 25px 3px rgba(255, 164, 27, 0);
  -webkit-transition: box-shadow 1s, background 1s;
  transition: box-shadow 1s, background 1s;
}
#navlink4:hover {
  opacity: 1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  box-shadow: 0px 5px 25px 1px gold;
}

#sidenav-overlay {
  z-index:-1 !important;
}


/*------------ Main -------------------*/


/*------------ Begin Intro ------------*/


.landing {
  background: #349fda;
}

.underline {
  letter-spacing: 2px;
}

#div--container__landing {
  margin: 80px auto;
  text-align: center;
  max-width: 500px;
  padding: 5px;
  background: #349fda !important;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

}

#div--container__landing h1{
  margin: 0 0 5px 0!important;
  color: white;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 1px;
}

#div--container__landing h2 {
  margin: 0 !important;
  color: white;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 1px;
}

#div--container__landing h3 {
  margin: 10px auto 15px auto !important;
  color: white;
  font-style: italic;
  letter-spacing: 1px;
}

#div--container__landing img{
  max-width: 220px;
  border-radius: 100%;
  border: 5px solid black;
}

#div--container__landing p {
  font-size: 2vh;
  margin: 5px auto 5px auto !important;
  color: white;
  font-weight: bold ;
  letter-spacing: 1px;
  overflow: hidden !important;
}

.p--landing__skills {
  font-style: italic;
  background:rgba(0,0,0,.1);
  color: white !important;
  padding: 5px 10px; 
  border-radius: 3px;
  width: 150px;
}
.button--social {
  text-transform: capitalize;
  margin: 10px auto;
  display: block;
  background: rgba(255,255,255,1) !important;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  width: 250px !important;
  border: 2px solid rgba(255,255,255,.3);
  box-shadow: 0 2px 10px 0 rgba(255,255,255,.2);
  -webkit-transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  text-shadow: 0 0 0 rgba(255,255,255,.4);
  line-height: 40px;
  padding: 0;
}

.button--social:hover {
  box-shadow: 0 2px 6px 0 rgba(255,255,255,1);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.landing .button--social__icon {
  font-size: 30px !important;
  position: relative;
  top: 4px;
}

#div--container__landing > button:nth-child(6) > a > i {
  top: 4px;
  left: -25px;
}

.button--social__icon {
  font-size: 35px !important;
  margin-right: 10px;
}

.fa-id-card-o {
  right: 24px;
}

.span--landing__orange {
  color: #FFBB06;
  font-size: 3.3vh !important;
}

.span--social__resume {
  position:relative;
  right: 10px;
}

@-webkit-keyframes fadeIn { from { opacity:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } to { opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }
@keyframes fadeIn { from { opacity:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } to { opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

/*------------ Portfolio  Panel ------------*/

.slide img {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.div--container__slider {
  text-align: center;
}

.div--container__slider h1{
  margin: 0 0 5px 0!important;
  color: white;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.div--container__slider h2{
  margin: 0 !important;
  color: white;
  font-family: 'Droid Serif';
  text-transform: lowercase;
  letter-spacing: 1px;
  font-style: italic;
}

.div--container__slider h3{
  margin: 10px auto !important;
  max-width: 600px;
  padding: 5px 20px;
  color: white;
  font-family: 'Droid Serif';
  text-transform: lowercase;
  letter-spacing: 1px;
  font-style: italic;
}

.div--container__slider h4{
  margin: 10px auto !important;
  max-width: 600px;
  padding: 5px 20px;
  color: white;
  font-family: 'Droid Serif';
  text-transform: lowercase;
  letter-spacing: 1px;
  font-style: italic;
}

.button--slider {
  margin: 15px 5px;
  width: 165px !important;
  padding: 2px;
  font-size: 15px !important;
  display: inline;
  text-transform: uppercase;
}
.button--slider span {
  position: relative !important;
  left: -3px;
  top: -2px;
}

.button--slider a {
  color: rgb(46, 204, 113) !important;
}

.button--slider i {
  position: relative !important;
  top: 5px;
}

/*----------------- MNDF.LL PANEL ---------------------*/

.mndfll {
  background: #2ecc71;
  color: #404040 !important;
}

.img--slider__mndfll {
  margin: 0 auto;
  max-width: 50vh !important;
  box-shadow: 1px 1px 0px 1px rgba(60,60,60,.2);
  display: block !important;
  border-radius: 3px;
  opacity: 1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.span--slider__orangish {
  color: #FFC98C;
}

/*----------------- CHAIRMAN PANEL --------------------*/

.chairman {
  background: black;
}

.chairman .button--slider a{
  color: black !important;
}

.img--slider__chairman {
  margin: 0 auto;
  max-width: 50vh !important;
  display: block;
  border-radius: 3px;
}

/*----------------- POKEDEX PANEL ---------------------*/

.pokedex {
  background: #bb1541;
}

.img--slider__pokedex {
  margin: 0 auto;
  max-width: 50vh !important;
  display: block;
  border-radius: 3px;
  box-shadow: 1px 1px 0px 1px rgba(116, 0, 31,.8);
}

.pokedex .button--slider a{
  color: #bb1541 !important;
}

.span--slider__greenish {
  color: #95E25F;
}


/*----------------- Hue PANEL ----------------*/

.hue {
  background: #226D70;
}

.hue .button--slider a {
  color: #226D70 !important;
}

.img--slider__hue {
  margin: 0 auto;
  max-width: 50vh !important;
  display: block;
  border-radius: 3px;
  box-shadow: 1px 1px 0px 1px rgba(60,60,60,.2);
}

.span--slider__yellow {
  color: #FFE9BC;
}

.a--slider__group {
  color: white !important;
  text-decoration: underline !important;
}

/*------------ About Me ------------*/

.div--container__about ul li {
  font-size: 2.5vh;
  font-style: italic;
  letter-spacing: 1px;
}

.about_me {
  background: #fdedd8;
  text-align: center;
  padding: 20px;
}

.about_me h1{
  margin: 0 0 10px 0!important;
  font-size: 6vh !important;
  color: #5a7b5e;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
}

.about_me img {
  max-width: 120px !important;
  margin: 15px auto 0px auto;
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
}

#h1--about__frontend {
  font-size: 3.7vh !important;
  color: #030202;
  position: relative;
  top: 5px;
}

#h1--about__backend {
  font-size: 3.7vh !important;
  color: #030202;
  position: relative;
  top: 5px;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(-360deg);
                transform:rotate(-360deg);
    }
}


@keyframes spin {
    from {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(-360deg);
                transform:rotate(-360deg);
    }
}

/*------------ Contact Panel ------*/

.contact {
  background: #349fda;
  color: white;
  text-align: center;
}

.contact h1{
  padding: 15px;
  margin: 0 auto 5px auto!important;
  color: white;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 1px;
  max-width: 800px;
}

.contact h3 {
  margin: 10px auto 15px auto !important;
  color: white;
  font-style: italic;
  letter-spacing: 2px;
}

.img--contact__wave {
  margin: 10px;
  max-width: 80px;
  -webkit-animation:rock 1s linear infinite;
  animation:rock 1s linear infinite;
}

.contact h3 i {
  margin: 10px;
  position: relative;
  top: 5px;
}

h3 .i--contact__email {
  font-size: 30px !important;
}

h3 .i--contact__phone {
  font-size: 45px;
  top: 10px !important;
}

.i--contact__social {
  color: white;
  font-size: 50px !important;
  padding: 5px 10px;
  border: 3px solid white;
  border-radius: 18px;
}

#i--contact__resume {
  color: #FFBB06;
  border: 3px solid #FFBB06;
}

#span--contact__pdf {
  color: #FFBB06;
  font-size: 13px;
  position:relative;
  right: 60px;
}


@-webkit-keyframes rock {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  30% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  40% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
    60% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  70% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  80% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rock {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  30% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  40% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
    60% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  70% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  80% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}


/*------------ Footer -------------*/

.a--footer__copyright {
  font-size: 15px !important;
  font-weight: ;
  letter-spacing: 1px !important;
  position: relative !important;
  top: 15px;
}

.page-footer {
  background-color: #040404 !important;
  box-shadow: 0 1px 7px 0 #040404;
  padding-top: 7px !important;
}
