/* Global */
html {
  font-family: "Concert One", "Open sans", sans-serif;

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans";
}

main {
  flex: 1 0 auto;
}

/* Nav */

nav {
  background-color: #040404 !important;
  z-index: 1 !important;
}

nav ul a {
  font-size: 16px !important;
  letter-spacing: 1.5px !important;
}

nav, .nav-wrapper {
  height: 64px !important;
}

a.dropdown-button > ul > li > i {
  margin: 0;
  padding: 0;
}

.brand-logo {
  margin-left: 25px;
}

.button-collapse {
  font-size:30px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #404040 !important;
  font-size: 20px;
  text-transform: lowercase !important;
}

.side-nav li>a {
  font-size: 16px !important;
  letter-spacing: 2px;
  -webkit-transition: font-size 500ms ease;
  -moz-transition: font-size 500ms ease;
  -o-transition: font-size 500ms ease;
  transition: font-size 500ms ease;
}

.side-nav li>a:hover {
  font-size: 18px !important;
  letter-spacing: 2px;
  -webkit-transition: font-size 500ms ease;
  -moz-transition: font-size 500ms ease;
  -o-transition: font-size 500ms ease;
  transition: font-size 500ms ease;
}

.nav--header__wide {
  display: none;
  margin: 0;
  position: relative;
  left: 90px;
  top: -4px;
  width: 300px;
  letter-spacing: 5px;
}

.ul--nav__links > li:nth-child(1) > a:hover {
  background: #404040;
}

.ul--nav__links > li:nth-child(2) > a:hover {
  background: #404040;
}

.ul--nav__links > li:nth-child(3) > a:hover {
  background: #404040;
}

.ul--nav__hover{
  background: #404040;
}


.navbar-fixed {
  height: 64px !important;
}

#sidenav-overlay {
  z-index:-1 !important;
}


/* Main */

.card-image.img
{
  height:150px; !important
}

/* Footer */

.a--footer__copyright {
  font-size: 15px !important;
  font-weight: ;
  letter-spacing: 1px !important;
  position: relative !important;
  top: 15px;
}

.page-footer {
  background-color: #040404 !important;
  box-shadow: 0 1px 7px 0 #040404;
  padding-top: 7px !important;
}
