/* Global */
html {
  font-family: "Concert One", "Open sans", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans";
}

main {
  flex: 1 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
} 

::-webkit-scrollbar-track {
      background-color: rgba(0,0,0,.2);
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(255,255,255,.5); 
} /* this will style the thumb, ignoring the track */
 

/* Nav */

nav {
  background-color: #040404 !important;
  z-index: 1 !important;
}

nav ul a {
  font-size: 16px !important;
  letter-spacing: 1.5px !important;
}

nav, .nav-wrapper {
  height: 64px !important;
}

a.dropdown-button > ul > li > i {
  margin: 0;
  padding: 0;
}

.brand-logo {
  margin-left: 25px;
}

.button-collapse {
  font-size:30px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #404040 !important;
  font-size: 20px;
  text-transform: lowercase !important;
}

.side-nav li>a {
  font-size: 16px !important;
  letter-spacing: 2px;
  -webkit-transition: font-size 500ms ease;
  -moz-transition: font-size 500ms ease;
  -o-transition: font-size 500ms ease;
  transition: font-size 500ms ease;
}

.side-nav li>a:hover {
  font-size: 18px !important;
  letter-spacing: 2px;
  -webkit-transition: font-size 500ms ease;
  -moz-transition: font-size 500ms ease;
  -o-transition: font-size 500ms ease;
  transition: font-size 500ms ease;
}

.nav--header__wide {
  display: none;
  margin: 0;
  position: relative;
  left: 90px;
  top: -4px;
  width: 300px;
  letter-spacing: 5px;
}

.ul--nav__links > li:nth-child(1) > a:hover {
  background: #404040;
}

.ul--nav__links > li:nth-child(2) > a:hover {
  background: #404040;
}

.ul--nav__links > li:nth-child(3) > a:hover {
  background: #404040;
}

.ul--nav__hover{
  background: #404040;
}


.navbar-fixed {
  height: 64px !important;
}

#sidenav-overlay {
  z-index:-1 !important;
}


/* Main */

/*Begin Intro*/

.div--intro {
  width: 100%;
  height:500px;
  background: grey;
  margin: 0;
}

.img--portrait {
  max-width: 400px;
  position: absolute;
  bottom: 175px;
  border-radius:
}
/* Begin Portfolio */
.accordion {
  background: rgba(255,255,255,.8);
  border-radius: 3px;
  width: 250px;
  margin: 0 auto 10px auto;
}

.inner {
  overflow: hidden;
  display: none;
  color: black;
  font-size: 14px;
  padding: 5px;
  background: rgba(255,255,255,.9) !important;
}

.carousel {
  margin-bottom: 20px;
  height: 600px !important;
}

.carousel h2 {
  font-size: 26px !important;
  margin-top: 7px;
  margin-bottom: 1px;
  font-family: "Concert One";
}

.carousel h3 {
  font-size: 16px !important;
  margin-top: 5px;
  margin-bottom: -6px;
}

.div--carouselitem__mndfll {
  background: #ffe4c4;
}

.div--carouselitem__pokedex {
  background: #bb1541;
}

.div--carouselitem__victorylist {
  background: #0288d1;
}
/*
.div--container__technologies{
  width: 190px !important;
}


.collapsible {
  border: none !important;
  border-radius: 2px;
      position: relative !important;
    z-index: 9999 !important;
}

.collapsible-header {
  background: rgba(255,255,255,.2) !important;
  font-size: 14px;
  font-family: "Concert One";
  border: none !important;
}

.collapsible-body {
  margin: 3px !important;
  background: rgba(255,255,255,.4);
  padding: 10px !important;
  border: none !important;
  border-radius: 2px;
}*/

.div--screenshot__victorylist {
  width: 410px;
  height: 400px;
  border-radius: 3px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 5px 15px -3px black;
}

.img--screenshot__chairman {
  max-width: 600px;
  height: auto;
  border-radius: 5px;
}

.img--screenshot__mndfll {
  max-width: 500px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 5px 15px -3px black;
}

.img--screenshot__pokedex {
  max-width: 600px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 5px 15px -3px black;
}

.img--screenshot__victorylist {
  max-width: 380px;
  height: auto;
  border-radius: 3px;
  padding: 4px 1px 0 5px;
}

.prev {
  font-size: 80px !important;
  color: rgba(255,255,255,.3);
  position: absolute;
  left:0;
  top: -260px;
}

.next {
  font-size: 80px !important;
  color: rgba(255,255,255,.3);
  position: absolute;
  right:0;
  top: -260px;
}

.toggle {
  color: black;
  padding: 30px;
  font-size: 16px;
  font-family: "Concert One";
}
/* Footer */

.a--footer__copyright {
  font-size: 15px !important;
  font-weight: ;
  letter-spacing: 1px !important;
  position: relative !important;
  top: 15px;
}

.page-footer {
  background-color: #040404 !important;
  box-shadow: 0 1px 7px 0 #040404;
  padding-top: 7px !important;
}
