@font-face {
    font-family: 'pixeldreams';
    src: url('../assets/PixelsDream-DemiBold.ttf') format('truetype');
}

@keyframes blink {
    50% {
        border-color: #fff;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    cursor: url('../assets/img/custom-cursor.png') 10 -30, pointer;
    user-select: none;
}

header {
    margin-top: 60px;
}

header h1 {
    width: 375px;
    margin: 0 auto;
    padding: 15px;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    border-left: 4px double white;
    border-right: 4px double white;
    letter-spacing: 3px;
    font-family: "pixeldreams", "VT323", monospace;
}

body {
    background: black;
    background-size: fill;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin: 0;
    font-family: "VT323", monospace;
    font-weight: 300;
}

footer {
    /*display: none;  */
    position: relative;
    top: -40px;
    margin: 0 auto;
}

footer li {
    display: inline-block;
}

ul {
    list-style: none;
}

button {
    font-family: "VT323", monospace;
}

button:hover {
    cursor: url('../assets/img/custom-cursor.png') 10 -30, pointer;
    animation: blink .5s step-end infinite alternate;
}

.container {
    background: url(../assets/img/Marble);
    height: 426px;
    width: 600px;
    margin: 50px auto;
    border-radius: 2px;
    border: 4px double white;
    box-shadow: 0 0 75px 1px rgba(47, 79, 79, .9)
}

.start-button {
    position: relative;
    border: 1px solid black;
    border-radius: 1px;
    font-family: "VT323", monospace;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.action-button {
    width: 450px;
    border: 2px solid transparent;
    border-radius: 1px;
    font-size: 13.4px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    line-height: 12.2px;
}

.action-button:hover {
    box-shadow: none;
    border: 2px solid black;
    font-style: italic;
}

.action-button:focus {
    box-shadow: none;
    border: none;
    outline: 0;
    border: 2px solid black;
}

#actions-div {
    position: relative;
    top: -10px;
}

#start-screen {
    background: url(../assets/img/window.png);
    height: 371px;
    width: 525px;
    margin: auto;
    border: 4px double white;
    border-radius: 5px;
    position: relative;
    top: 25px;
    color: black;
    -webkit-animation: fadein 2.3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2.3s;
    /* Firefox < 16 */
    -ms-animation: fadein 2.3s;
    /* Internet Explorer */
    -o-animation: fadein 2.3s;
    /* Opera < 12.1 */
    animation: fadein 2.3s;
}

#chairman-title {
    font-family: "pixeldreams", "VT323", monospace;
    font-size: 50px;
    letter-spacing: 4px;
    position: relative;
    top: -15px;
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}

#start-author {
    position: relative;
    top: -125px;
    left: 355px;
    text-align: left;
}

#board-img {
    position: relative;
    top: -52px;
    left: 40px;
}

#instructions-div {
    background: url(../assets/img/instructions.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 450px;
    margin: auto;
    border: 4px double black;
    border-radius: 5px;
    position: relative;
    top: 24px;
    color: black;
    z-index: 99;
    position: relative;
    top: -315px;
    display: none;
}

#instructions-div p {
    width: 350px;
    position: relative;
    top: 14px;
    left: 60px;
}

#return-to-menu {
    position: relative;
    top: 0;
    left: 176px;
    border: 2px solid transparent;
    border-radius: 1px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#return-to-menu:hover {
    box-shadow: none;
    border: none;
    outline: 0;
    border: 2px solid black;
}

#return-to-menu:focus {
    box-shadow: none;
    border: none;
    outline: 0;
    border: 2px solid black;
}

#start {
    position: relative;
    top: -110px;
    left: -30px;
    border: 2px solid transparent;
    border-radius: 1px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#start:hover {
    box-shadow: none;
    border: 2px solid black;
}

#start:focus {
    box-shadow: none;
    border: none;
    outline: 0;
    border: 2px solid black;
}

#info {
    position: relative;
    top: -70px;
    right: 305px;
    border: 2px solid transparent;
    border-radius: 1px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#info:hover {
    box-shadow: none;
    border: 2px solid black;
}

#info:focus {
    box-shadow: none;
    border: none;
    outline: 0;
    border: 2px solid black;
}

#game-div {
    background: url(../assets/img/window.png);
    height: 371px;
    width: 525px;
    margin: auto;
    border: 4px double white;
    border-radius: 5px;
    position: relative;
    top: 24px;
    display: none;
}

#scenario-div {
    height: 90px;
    width: 470px;
    margin: 30px auto;
    padding: 3px;
    border: 3px double black;
    font-size: 17px;
    position: relative;
    color: black;
    overflow: hidden;
}

#scenario-div p {
    margin: 2px 0;
    padding: 1px;
}

#result-div {
    color: black;
    width: 400px;
    margin: 0 auto;
}

#win {
    font-size: 25px;
    font-family: "pixeldreams", "VT323", monospace;
    position: relative;
    top: -14px;
}

#result-div img {
    position: relative;
    top: -35px;
}

#result-text {
    font-size: 18px;
    position: relative;
    top: -20px;
}

#choice {
    position: relative;
    top: -10px;
    margin: 1px;
}

.inline-score {
    display: inline;
    margin-right: 15px;
}

#nextButton {
    position: relative;
    top: -5px;
    padding: 2px;
    width: 200px;
}

#promotionButton {
    position: relative;
    top: -5px;
    padding: 2px;
    width: 200px;
}

#scores {
    z-index: 99;
}

#scores ul {
    float: left;
    top: 5px;
    color: black;
    position: absolute;
    left: -20px;
    top: 330px;
    margin-left: ;
    text-align: center;
}

#scores li {
    display: inline;
}

#week {
    position: relative;
}

#confidence {
    position: relative;
    left: 90px;
}

#brownie-points {
    position: relative;
    left: 110px;
}

#job {
    position: relative;
    left: 15px;
}

#use-confidence {
    font-size: 22px;
    position: relative;
    top: 20px;
    padding: 10px;
    line-height: 20px;
}

#use-brownie {
    font-size: 22px;
    position: relative;
    top: 30px;
    padding: 10px;
}

#next-job {
    position: relative;
    top: 40px;
    font-size: 35px;
    width: 400px;
    border: 5px dotted black;
    padding: 15px;
}

#start-over {
    position: relative;
    top: 20px;
    font-size: 35px;
    width: 400px;
    border: 5px dotted black;
    padding: 15px;
    line-height: 30px;
}