/*********************/

/*      Content      */

/*********************/

.grid {
    display: -ms-grid;
    display:     grid;

    grid-template-columns: 190px auto;

    -ms-grid-columns: 190px auto;
}

main {
    display: -ms-grid;
    display:     grid;
    overflow: hidden;

    grid-template-rows: 50px 100vh;

    -ms-grid-rows: 50px 100vh;
}

/*********************/

/*     Page Main         */

/*********************/

.page-main {
    overflow-y: scroll;

    padding: 20px;
}

.page-main section {
    margin-bottom: 100px;


    .tech-item {
        font-size: 12px;

        display: inline-block;

        margin: 7px 4px;
        padding: 3px 7px;

        -webkit-transition: .05s all linear;
                transition: .05s all linear;
        letter-spacing: 1px;

        border: 1px solid rgba(249, 38, 114, .4);
        border-radius: 5px;
        box-shadow: 4px 4px 0 rgba(161, 239, 228, .8);

        @media (max-width: 800px) {
            text-align: left;
        }
    }
}

.main-heading h1 {
    font-size: 25px;

    margin: 0;

    letter-spacing: 2px;

    color: #fd971f;
}

.main-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.card {
    padding: 10px 25px;

    border: 1px solid rgba(39, 40, 34, .4);
    border-radius: 3px;
    background: rgba(248, 248, 242, .9);
    box-shadow: 4px 4px 0 rgba(248, 248, 242, .8);
}

@media (max-width: 700px) {
    main {
        grid-template-rows: 70px 100vh;

        -ms-grid-rows: 70px 100vh;
    }
    .grid {
        grid-template-columns: auto;

        -ms-grid-columns: auto;
    }
}
