/* Home */

.page-main--home {
    .main-content {
        display: block;

        padding: 25px;
    }

    p {
        margin: 10px;
    }
}



#home-heading {
    -webkit-transition: .2s all ease;
            transition: .2s all ease;
}
