/*********************/

/*      Side Bar     */

/*********************/

.sidebar {
    font-family: 'Squada One', sans-serif;
    font-size: 20px;

    display: -ms-grid;
    display:     grid;

    grid-template-rows: 60px 1fr;

    height: 100vh;

    -webkit-user-select: none;
    /* Safari 3.1+ */
       -moz-user-select: none;
    /* Firefox 2+ */
        -ms-user-select: none;
    /* IE 10+ */
            user-select: none;

    color: #a1efe4;
    /* Standard syntax */
    border-right: 1px solid rgba(248, 248, 242, .3);

    -ms-grid-rows: 60px 1fr;
}

.sidebar-top {
    border-bottom: 1px solid rgba(248, 248, 242, .3);
    background-image: url('../assets/diamond.png');
    background-size: contain;
}

.nav {
    margin-top: 0;
    padding: 0;

    list-style: none;

    text-transform: uppercase;
}

.nav-item {
    padding: 20px 0;
    padding-left: 30px;

    -webkit-transition: .2s all ease;
    -webkit-transition: .3s border ease-in-out;
            transition: .2s all ease;
            transition: .3s border ease-in-out;
    letter-spacing: 1.5px;

    border-right: 1px solid transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-left: 1px solid transparent;
    
    &:hover {
        border-bottom: 1px solid transparent;
        border-left: 20px solid rgba(0, 0, 0, .5);
        background: rgba(255, 255, 255, .1);
    }
}


.nav-mobile {
    display: none;
}

.nav-mobile-item {
    font-family: 'Squada One', monospace, serif;
    font-size: 16px;

    letter-spacing: 1.3px;
    text-transform: uppercase;

    color: #a1efe4;
}

.selected {
    -webkit-transition: .2s all ease;
            transition: .2s all ease;

    color: #f92672;
    border-left: 10px solid rgba(0, 0, 0, .5);
}

.sidebar-social {
    display: -ms-grid;
    display:     grid;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

    grid-template-columns: auto auto auto;

    padding: 10px 10px 30px 10px;

    -ms-grid-columns: auto auto auto;
}

.sidebar-social-item {
    display: inline-block;

    width: 30px;
    height: 30px;
    padding: 1px;

    -webkit-transition: .4s all ease;
            transition: .2s all ease;

    border-radius: 7px;
    background-size: 30px 30px;
}

.sidebar-social-item:hover {
    box-shadow: 3px 3px 0 rgba(249, 38, 114, .8);
}

.sidebar-social-item.linkedin {
    -ms-flex-item-align: center;
    align-self: center;

    background-image: url(../assets/icons/linkedin.svg);
}

.sidebar-social-item.github {
    background-image: url(../assets/icons/github.svg);
}

.sidebar-social-item.medium {
    background-image: url(../assets/icons/medium.svg);
}

@media (max-width: 700px) {
    .sidebar {
        display: none;
    }
    .selected {
        border-bottom: 3px solid rgba(0, 0, 0, .5);
        border-left: 0;
    }
}
