html {
    box-sizing: border-box;
    height: 100vh;
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Squada One', sans-serif;

    overflow: hidden;

    height: 100%;
    margin: 0;
    padding: 0;

    color: black;
    background-color: #272822;
    background-image: url('/assets/bg.png');
}

hr {
    width: 100%;
    margin: 10px 0;

    border: none;
    border-bottom: 1px dashed rgba(248, 248, 242, .7);
}

a {
    text-decoration: none;

    color: inherit;
}

@import 'utility';
@import 'sidebar';
@import 'titlebar';
@import 'content';
@import 'home-block';
@import 'about-block';
@import 'project-block';
@import 'cv-block';
@import 'connect-block';
