html {
    height: 100%;
    text-align: center;
    background-color: E0FFE2;
}

body {
    width: 800px;
    height: 100%;
    font-family: sans-serif;
    line-height: 25px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
    font-style: italic;
}

p {
    font-size: 20px;
}

.articleone {
    border: thin solid black;
    background-color: D2EEE5;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin: 20px;
}

.articletwo {
    background-color: E1FFF6;
    border: thin solid black;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin: 20px;
}

header {
    background-color: CCE8C1;
    border-radius: 20px;
    padding: 5px;
    font-size: 35px;
    display: block;
}

nav {
    border: thin solid black;
    font-size: 19px;
    border-radius: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: -15 auto;
}

nav li a {
    display: block;
    height: 25px;
    padding: 12px 18px 8px 18px;
}

a {
    color: ;
}

img {
    width: 400px;
    height: auto;
    border-radius: 20px;
}

.globe {
    width: 200px;
    height: auto;
    margin-bottom: 5px;
}

section {
    width: 73%;
    display: inline-block;
    float: middle;
}

aside {
    width: 17%;
    display: inline-block;
    background-color: ;
    padding: ;
    min-height: 100%;
}

aside ul {
    list-style-type: none;
}

footer {
    width: 790px;
    background-color: ;
    color: ;
    clear: both;
    display: block;
}
