/* Tablet? */

@media screen and (max-width: 650px) {
    div.main-about-textbox {
        float: none;
        max-width: 90vw;
    }
    img.sean-metal {
        float: none;
        margin: 30px auto;
    }
}

.nav-link:nth-child(2) {
    color: white;
    background: #b240d5;
}

.main-about-textbox {
    font-size: 19px;
    position: relative;
    float: right;
    overflow-y: scroll;
    max-width: 345px;
    max-height: 400px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: white;
    border: 3px double white;
    border-radius: .4em;
    background: #332c50;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .25);
    cursor: pointer;
}

.main-about-textbox p {
    margin: 10px;
}

.main-about__link {
    font-weight: bold;
    color: white;
}

.click-for-more {
    font-size: 14px;
    font-style: italic;
    animation: 2s grow-shrink infinite;
    letter-spacing: 1px;
    color: gray;
}

.sean-metal {
    display: inline-block;
}

.main-where-do-i {
    font-size: 20px;
}

.main-about__divider {
    width: 50%;
    border: 0;
    border-bottom: 1px dashed rgba(0, 0, 0, .4);
    background: white;
}

.spinning-questionmark {
    display: inline-block;
    animation: spinning 4s linear infinite;
}