html {
  box-sizing: border-box;
  height: 100vh; }

* {
  box-sizing: inherit; }

*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Squada One', sans-serif;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #272822;
  background-image: url("/assets/bg.png"); }

hr {
  width: 100%;
  margin: 10px 0;
  border: none;
  border-bottom: 1px dashed rgba(248, 248, 242, 0.7); }

a {
  text-decoration: none;
  color: inherit; }

/* Utility */
.clickable {
  cursor: pointer; }

.hidden {
  display: none !important; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.green-text {
  color: #a6e22e; }

.pink-link {
  cursor: pointer;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  color: #f92672;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  text-shadow: 0px 0px black; }

.pink-link:hover {
  border-bottom: 1px dashed #f92672; }

/*********************/
/*      Side Bar     */
/*********************/
.sidebar {
  font-family: 'Squada One', sans-serif;
  font-size: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100vh;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  color: #a1efe4;
  /* Standard syntax */
  border-right: 1px solid rgba(248, 248, 242, 0.3);
  -ms-grid-rows: 60px 1fr; }

.sidebar-top {
  border-bottom: 1px solid rgba(248, 248, 242, 0.3);
  background-image: url("../assets/diamond.png");
  background-size: contain; }

.nav {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase; }

.nav-item {
  padding: 20px 0;
  padding-left: 30px;
  -webkit-transition: .2s all ease;
  -webkit-transition: .3s border ease-in-out;
  transition: .2s all ease;
  transition: .3s border ease-in-out;
  letter-spacing: 1.5px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid transparent; }
  .nav-item:hover {
    border-bottom: 1px solid transparent;
    border-left: 20px solid rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1); }

.nav-mobile {
  display: none; }

.nav-mobile-item {
  font-family: 'Squada One', monospace, serif;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #a1efe4; }

.selected {
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  color: #f92672;
  border-left: 10px solid rgba(0, 0, 0, 0.5); }

.sidebar-social {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  padding: 10px 10px 30px 10px;
  -ms-grid-columns: auto auto auto; }

.sidebar-social-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 1px;
  -webkit-transition: .4s all ease;
  transition: .2s all ease;
  border-radius: 7px;
  background-size: 30px 30px; }

.sidebar-social-item:hover {
  box-shadow: 3px 3px 0 rgba(249, 38, 114, 0.8); }

.sidebar-social-item.linkedin {
  -ms-flex-item-align: center;
  align-self: center;
  background-image: url(../assets/icons/linkedin.svg); }

.sidebar-social-item.github {
  background-image: url(../assets/icons/github.svg); }

.sidebar-social-item.medium {
  background-image: url(../assets/icons/medium.svg); }

@media (max-width: 700px) {
  .sidebar {
    display: none; }

  .selected {
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-left: 0; } }
/*********************/
/*     Title Bar     */
/*********************/
.page-title {
  font-size: 36px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-columns: 1fr 60px 1fr;
  text-align: center;
  color: #a1efe4;
  border-bottom: 1px solid rgba(248, 248, 242, 0.3);
  -ms-grid-columns: 1fr 60px 1fr; }

.page-title--left,
.page-title--right {
  align-self: center;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  letter-spacing: 2px; }

.swansong-logo-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.swansong-logo {
  display: block;
  -ms-flex-item-align: center;
  align-self: center;
  width: 40px;
  height: 40px;
  background-image: url(../assets/swansong-no-text-thick.svg);
  background-size: contain; }

.hamburger-bun {
  display: none; }

@media (max-width: 700px) {
  .swansong-logo-container {
    display: none; }

  .hamburger-bun {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px dotted rgba(255, 255, 255, 0.3);
    border-left: 1px dotted rgba(255, 255, 255, 0.3); }

  .hamburger-patty {
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/menu.svg);
    background-size: 20px 20px; }

  .nav-mobile {
    position: absolute;
    top: 70px;
    display: -ms-grid;
    display: grid;
    align-items: center;
    -ms-grid-row-align: center;
    grid-template-columns: 45px 1fr auto 1fr 45px;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 25px;
    list-style: none;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
    opacity: 0;
    border-bottom: 1px solid rgba(248, 248, 242, 0.3);
    background-color: #272822;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    -ms-grid-columns: 45px 1fr auto 1fr 45px;
    -ms-grid-column-align: center;
    justify-items: center;
    z-index: 999; }

  .page-title {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    -ms-grid-columns: 1fr 40px 1fr;
    font-size: 30px; }

  .page-title--left,
  .page-title--right {
    align-self: center;
    letter-spacing: 1px; } }
/*********************/
/*      Content      */
/*********************/
.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 160px auto;
  -ms-grid-columns: 160px auto; }

main {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  grid-template-rows: 60px 100vh;
  -ms-grid-rows: 60px 100vh; }

/*********************/
/*     Page Main         */
/*********************/
.page-main {
  overflow-y: scroll;
  padding: 20px; }

.page-main section {
  margin-bottom: 50px; }
  .page-main section .tech-item {
    font-size: 12px;
    display: inline-block;
    margin: 7px 4px;
    padding: 3px 7px;
    -webkit-transition: .05s all linear;
    transition: .05s all linear;
    letter-spacing: 1px;
    border: 1px solid rgba(249, 38, 114, 0.4);
    border-radius: 5px;
    box-shadow: 4px 4px 0 rgba(161, 239, 228, 0.8); }
    @media (max-width: 800px) {
      .page-main section .tech-item {
        text-align: left; } }

.main-heading h1 {
  font-size: 20px;
  margin: 0;
  letter-spacing: 2px;
  color: #f8f8f2; }

.main-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

.card {
  padding: 25px;
  border: 1px solid rgba(39, 40, 34, 0.4);
  border-radius: 3px;
  background: rgba(248, 248, 242, 0.9);
  border: 4px double rgba(0, 0, 0, 0.7); }

@media (max-width: 700px) {
  main {
    grid-template-rows: 70px 100vh;
    -ms-grid-rows: 70px 100vh; }

  .grid {
    grid-template-columns: auto;
    -ms-grid-columns: auto; } }
/* Home */
.page-main--home .main-content {
  display: block;
  padding: 25px; }
.page-main--home p {
  margin: 10px; }

#home-heading {
  -webkit-transition: .2s all ease;
  transition: .2s all ease; }

/* About */
.page-main--about {
  display: block; }
  .page-main--about p {
    margin: 10px; }

.about-content-grid {
  display: -ms-grid;
  display: grid;
  align-items: center;
  -ms-grid-row-align: center;
  grid-template-columns: 300px 1fr;
  -ms-grid-columns: 300px 1fr; }

#about-portrait {
  display: block;
  width: 250px;
  margin: 30px auto; }

.expando-button {
  display: inline-block; }

@media (max-width: 900px) {
  .about-content-grid {
    display: block; } }
/* Portfolio */
.page-main--portfolio {
  display: block; }
  .page-main--portfolio .main-content {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
  .page-main--portfolio .project-item {
    margin-top: 50px;
    padding: 10px; }
  .page-main--portfolio .project-top .project-title {
    font-size: 20px;
    font-weight: bold;
    height: 90px;
    padding: 15px;
    text-align: center; }
  .page-main--portfolio .project-top .project-screenshot {
    display: block;
    width: 50%;
    margin: 0 auto 20px auto; }
  .page-main--portfolio .project-bottom {
    padding: 0 12px;
    text-align: center; }
    .page-main--portfolio .project-bottom .project-description {
      padding: 10px; }
    .page-main--portfolio .project-bottom .project-list {
      padding: 0;
      list-style: none; }
    .page-main--portfolio .project-bottom .project-tech {
      padding: 0; }
    .page-main--portfolio .project-bottom .project-demo {
      padding: 0; }
    .page-main--portfolio .project-bottom .project-demo-item {
      font-weight: bold;
      display: inline-block;
      width: 100px;
      margin: 4px;
      padding: 5px 10px;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
      color: #272822;
      border: 1px solid #f92672;
      border-radius: 5px;
      background: #a1efe4;
      box-shadow: 4px 4px 0 rgba(249, 38, 114, 0.8); }
    .page-main--portfolio .project-bottom .project-demo-item:hover {
      display: inline-block;
      text-decoration: none;
      color: white;
      border: 1px solid #a1efe4;
      border-radius: 5px;
      background: #f92672;
      box-shadow: 4px 4px 0 rgba(161, 239, 228, 0.8); }

/* Resume */
.page-main--resume {
  display: block;
  color: white; }

.cv-item {
  font-size: 10px;
  display: -ms-grid;
  display: grid;
  margin: 30px 0 40px 0;
  padding: 10px 15px;
  color: black; }
  .cv-item p {
    margin: 0; }
  .cv-item ul {
    font-size: 12px;
    padding: 0 12px;
    text-align: center; }
  .cv-item .cv-top {
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: center;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4); }
    .cv-item .cv-top .cv-company,
    .cv-item .cv-top .cv-date {
      font-size: 14px;
      flex-basis: 200px; }
      @media (max-width: 700px) {
        .cv-item .cv-top .cv-company,
        .cv-item .cv-top .cv-date {
          font-size: 12px;
          flex-basis: 80px; } }
    .cv-item .cv-top .cv-position {
      font-size: 18px;
      font-weight: bold;
      flex-grow: 1;
      padding: 0 25px; }
  .cv-item .cv-bottom {
    font-size: 14px;
    padding: 10px; }
    .cv-item .cv-bottom .gilman .tech-wrapper {
      display: flex; }
    .cv-item .cv-bottom .gilman .cv-technologies-left {
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.02); }
    .cv-item .cv-bottom .gilman .cv-technologies-left,
    .cv-item .cv-bottom .gilman .cv-technologies-right {
      flex: 1;
      padding: 10px; }
    @media (max-width: 760px) {
      .cv-item .cv-bottom .gilman .tech-wrapper {
        display: block; } }

.cv-technologies {
  margin-top: 15px; }

/* Connect */
.page-main--connect {
  display: block;
  color: white; }
