/* Animation */

@keyframes grow-shrink {
    50% {
        letter-spacing: 1.1px;
    }
}

@keyframes glow {
    50% {
        border-radius: 5px;
        background: rgba(255, 255, 255, .1);
        text-shadow: 0 0 4px #e2f3e4;
    }
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

@keyframes floating {
    0% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(4px);
    }
}

/* Global */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../assets/scanlinebg.jpg');
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* Phone */

@media only screen and (max-width: 600px) {
    header {
        width: 94vw !important;
        margin: 30px auto -15px !important;
        transition: all .1s ease;
    }
    .nav {
        margin: 0;
    }
    ul.nav-list {
        display: block;
    }
    a.nav-link {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
    }
}

/* Tablet? */

@media screen and (max-width: 650px) {
    span.nav-name {
        font-size: 35px;
    }
    .main {
        width: 96vw;
        transition: all .1s ease;
        transform: scale(.95);
    }
    div.main-content-container {
        display: block;
    }
    div.footer-container {
        width: 300px;
        text-align: center;
    }
}

/* Define the "system" font family */

@font-face {
    font-family: system;
    font-weight: 300;
    font-style: normal;
    src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'), local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@font-face {
    font-family: pixel;
    src: url('../assets/Nouveau_IBM.ttf');
}

body {
    font-family: pixel, system;
    min-height: 100%;
    margin: 0;
}

header {
    width: 620px;
    margin: 100px auto 5px auto;
    text-align: center;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #46878f;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .7), 0 -1px 1px #46878f, 0 1px 0 #46878f;
}

.nav {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #46878f;
    border: 4px double white;
}

.nav-list {
    display: inline-block;
    margin-top: 25px;
    padding: 0;
    list-style: none;
}

.nav-logo {
    position: relative;
    top: 16px;
    margin-right: 10px;
}

.nav-name {
    display: inline-block;
    color: white;
    padding-top: 20px;
    margin-right: 20px;
    font-size: 40px;
    letter-spacing: 1.4px;
    transition: all .5s ease;
}

.nav-link {
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    -webkit-transition: .05s all linear;
    -moz-transition: .05s all linear;
    -o-transition: .05s all linear;
    transition: .05s all linear;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: 4px 4px 0 #222;
    box-shadow: 4px 4px 0 #222;
}

.nav-link:hover {
    color: white;
    -webkit-box-shadow: 3px 3px 0 #222;
    box-shadow: 3px 3px 0 #222;
}

.nav-link:nth-child(1):hover {
    background: #118ab2;
}

.nav-link:nth-child(2):hover {
    background: #b240d5;
}

.nav-link:nth-child(3):hover {
    background: #06d6a0;
}

.nav-link:nth-child(4):hover {
    background: #ef476f;
}

.main {
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #46878f;
    border-radius: 3px;
    background: rgba(48, 227, 68, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .7), 0 -1px 1px #fff, 0 1px 0 #fff;
}

.main-content-container {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 30px auto;
    padding: 20px;
}

.hidden {
    display: none;
}

.footer-container {
    width: 600px;
    margin: 0 auto;
    text-align: right;
}

.footer-copyright {
    font-size: 16px;
}

a.resume-link {
    font-size: 20px;
    font-weight: bold;
    animation: glow 2s infinite;
    text-decoration: none;
    color: black;
}